* {
    /* Selector Universal */

    margin: 0;
    padding: 0;
    /** ayuda a que no se colapsen las caja con margin y padding */
    box-sizing: border-box;
}

body {    
    background-color: #f4f4f4;   
}
.container {    
   background-color: rgb(255, 255, 255);
   max-width: 80%;
   border-radius: 30px;
   margin: 2rem auto;
   padding: 2rem;
}
figure img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}
.title {
    font-size:2rem;
    text-align: center;
    margin: 1rem 0;
    color: #333;
}
.subtitle {
    padding-bottom: 1rem;
    color: #9a2e0a;
}
.paragrahp  {
    font-size: 1rem;
    line-height: 0.9;
    text-align: justify;
    margin: 1rem 0;
    color: #333;
}
.container-time {   
    margin: 2rem 0;
    padding: 1rem 2rem; 
    background-color: #e8cdcd;
    border-radius: 20px;
    line-height: 1.5;
}
.container-time h3{
    color: brown;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1rem;
}
.container-time, .container-instructions,.container-nutrition{
    background-color: #e8cdcd;
    border-radius: 20px;
    padding: 1rem 2rem; 
    margin: 2rem 0;
}
.ingredients {
    padding: 6px 10px;
 }
.instructions {
    padding: 6px 10px;
}
.nutrition-table {
    width: 100%;
    border-collapse: collapse;
    
}
.nutrition-table tr{
    border-bottom: solid 1px #110303;
    padding: 1rem;    
}
.nutrition-table td{
    padding: 0.5rem;
    
}
.nutrition-table td:nth-child(2){
    font-weight: bold;
    color: #9a2e0a;
}